@font-face
{
    font-family: "Raleway";
    src: url("polices/Raleway-Regular.ttf") format("truetype");
}

body
{
    font-family: "Raleway";
}

header
{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

header img
{
    width:95px;
}

nav
{
    display:flex;
    right: 30px;
    top: 30px;
    position:absolute;  
}

nav a
{
    padding-top: 25px;
}

nav a:hover
{
    color:#0065FC;
    border-top: 2px solid #0065FC ;
}

nav ul
{
    display: flex;
}

nav li
{
    margin-right: 70px;
    list-style-type: none;
}

a
{
    text-decoration: none;
    color: black;
}

h1
{
    font-size:1.3em;
    margin-bottom: 0px;
}

#filtres, h1, h2, h3, em
{
    font-weight: bold;
}

h2
{
    margin-bottom: 10px;
}
#filtres p
{
    margin-bottom: 0px;
    margin-top: 25px;
}
#filtres ul
{
    display: flex;
}

#filtres li
{
    margin-right: 40px;
    padding-right: 18px;
    list-style-type: none;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    font-size: 0.9em;
}

#filtres a
{
    margin-left: 15px;
}

#filtres i
{
    background-color: #DEEBFF;
    border: 7px solid #DEEBFF;
    border-radius: 25px;
    height: 19px;
    color: #0065FC;
}

#filtres
{
    display:flex;
    vertical-align: middle;
    margin-bottom: -20px;
}

#position
{
    background-color: #F2F2F2;
    border: 7px solid #F2F2F2;
    border-radius: 7px 0px 0px 7px;
    height: 19px;

}

#rechercher
{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 7px 7px 0px;
    height: 30px;
}

#search
{
    margin-top: -20px;
}
#champ
{
    height: 30px;
    width: 200px;
}

#info
{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
}

#hebergements
{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

#hebergements p, #hebergements h2
{
    margin-left: 9px;
    margin-top: 8px;
    margin-bottom: 0px;
}

#hebergement_marseille
{
    background-color: #F2F2F2;
    width: 790px;
    height: 540px;
    border-radius: 10px;
}

#auberge_cannebiere img, #hotel_port img, #hotel_mouettes img, #hotel_mer img, #auberge_panier img, #hotel_amina img
{
    width: 215px;
    height: 105px;
    border-radius: 10px 10px 0px 0px;
    margin: 3px 0px -3px 4px;
    
}

#auberge_cannebiere, #hotel_port, #hotel_mouettes, #hotel_mer, #auberge_panier, #hotel_amina
{
    width: 260px;
    height: 200px;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 0.8em;
    border-radius: 10px 10px 10px 10px;
    
}
#ligne1_hebergement
{
    display: flex;
    margin-bottom: 20px;
}

#ligne2_hebergement
{
    display: flex;
}

#hebergement_marseille i
{
    color: #0065FC;
    padding-bottom: 10px;
}

#populaires
{
    background-color: #F2F2F2;
    width: 550px;
    height: 540px;
    border-radius: 10px;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
    
}

#hotel_soleil_du_matin img, #coeur_de_leau img, #hotel_tout_bleu img
{
    width: 120px;
    height: 110px;
    margin-right: 20px;
    margin-left: 5px;
    border-radius: 10px 0px 0px 10px;
    padding: 5px 0px 5px 0px;
}

#hotel_soleil_du_matin, #coeur_de_leau, #hotel_tout_bleu
{
    font-size: 0.8em;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 120px;
    margin-left: 20px;
    margin-top: 30px;
}

.float
{
    float: left;
}



#populaires i
{
    color: #0065FC;
}

#fleche
{
    top: 25px;
    right: 20px;
    position: absolute;
    color: black;
}

#activites
{
    display: flex;
    width: 1370px;
    height: 540px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right:60px;
}

#pomegues, #frioul, #notredame, #longchamp
{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 6px 6px 6px #F2F2F2;
    width: 310px;
    height: 205px;
    border-radius: 10px 10px 10px 10px;
}

#frioul, #longchamp
{
    margin-top: 30px;
}

#vieux_port, #calanques
{
    width: 310px;
    height: 440px;
    border-radius: 10px 10px 10px 10px; 
    box-shadow: 6px 6px 6px #F2F2F2; 
    margin-right: 30px;
    margin-left: 30px;
}

#vieux_port img, #calanques img
{
    height: 400px;
    width: 310px;
    border-radius: 10px 10px 0px 0px;
}

#pomegues img, #frioul img, #notredame img, #longchamp img
{
    height: 155px;
    width: 310px;
    border-radius: 10px 10px 0px 0px;
}

footer
{
    background-color: #F2F2F2;
    display: flex;
    
}

footer li
{
    list-style-type: none;
}

#assistance
{
    flex-grow: 1;
    
}

#nos_hebergements
{
    flex-grow: 1;
}

#a_propos
{
    flex-grow: 1;
    margin-left: 100px;
}