@font-face{
    font-family: "Raleway";
    src: url("polices/Raleway-Regular.ttf") format("truetype");
}

body{
    font-family: "Raleway";
    width: 100%;
    margin: 0;
}

header{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left: 60px;
    margin-right: 60px;
}

header img{
    width:95px;
}

nav{
    display:flex;
    right: 30px;
    top: 30px;
    position:absolute;  
}

nav a{
    padding-top: 25px;
    font-weight: bold;
}

nav a:hover{
    color:#0065FC;
    border-top: 2px solid #0065FC ;
}

nav ul{
    display: flex;
    padding-right: 83px;
}

nav li{
    margin-right: 70px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size:1.3em;
    font-weight: bold;
    margin-bottom: 0px;
}

#hebergement_marseille h3, #activites h3{
    margin-left: 10px;
}

#filtres, h1, h2, h3, em{
    font-weight: bold;
}

#filtres p{
    margin-bottom: 0px;
    margin-top: 25px;
}

#filtres ul{
    display: flex;
}

#filtres li{
    margin-right: 40px;
    padding-right: 18px;
    list-style-type: none;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    height: 2.5em;
}

#filtres a{
    margin-left: 5px;
    padding-top: 5px;
}

i.fas.fa-star.gris::before{
    color: #F2F2F2;
}


#filtres i{
    background-color: #DEEBFF;
    border: 7px solid #DEEBFF;
    border-radius: 25px;
    color: #0065FC;
    justify-content: center;
    position: relative;
    height: 1.7em;
    width: 1.7em;
    align-items: center;
    display: flex;
    margin-left: -0.5em;
}

#filtres a:hover{
    color: #0065FC;
    font-size: 1.2em;
}

#filtres{
    display:flex;
    vertical-align: middle;
    margin-bottom: -20px;
}

#position{
    background-color: #F2F2F2;
    border: 7px solid #F2F2F2;
    border-radius: 7px 0px 0px 7px;
    height: 19px;
}

.rechercher{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 7px 7px 0px;
    height: 30px;
}

.button{ 
    background-color: #0065FC;
    color: white;
    height: 8em;
    width: 8em;
    border-radius: 34px 34px 34px 34px;
}

.search_max600px{
    visibility: hidden;
}

#search{
    margin-top: -20px;
    margin-bottom: -51px;
}

.champ{
    height: 30px;
    width: 200px;
}

#info{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    margin-right: 0.6em;
}

#hebergements{
    display: flex;
    margin-left: 60px;
    margin-right: 60px;
}

#hebergements p{
    margin-left: 9px;
    margin-top: 8px;
    margin-bottom: 0px;
}

#hebergements h2{
    margin-left: 9px;
    margin-top: 17px;
    margin-bottom: 14px;
}

#hebergement_marseille{
    background-color: #F2F2F2;
    width: 790px;
    height: 540px;
    border-radius: 10px;
}

#auberge_cannebiere img, #hotel_port img, #hotel_mouettes img, #hotel_mer img, #auberge_panier img, #hotel_amina img{
    width: 215px;
    height: 105px;
    border-radius: 10px 10px 0px 0px;
    margin: 3px 0px -3px 4px;
    object-fit: cover;
}

#auberge_cannebiere, #hotel_port, #hotel_mouettes, #hotel_mer, #auberge_panier, #hotel_amina{
    width: 260px;
    height: 200px;
    background-color: white;
    margin-right: 20px;
    margin-left: 20px;
    font-size: 0.8em;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 9px gray;   
}

#ligne1_hebergement{
    display: flex;
    margin-bottom: 20px;
}

#ligne2_hebergement{
    display: flex;
    margin-bottom: 21px;
}

#hebergement_marseille i{
    color: #0065FC;
    padding-bottom: 10px;
}

#populaires{
    background-color: #F2F2F2;
    width: 550px;
    height: 540px;
    border-radius: 10px;
    position: relative;
    margin-left: 60px;
    margin-right: 60px;
}

#populaires h3{
    padding-top: 13px;
}

#hotel_soleil_du_matin img, #coeur_de_leau img, #hotel_tout_bleu img{
    width: 120px;
    height: 110px;
    margin-right: 20px;
    margin-left: 5px;
    border-radius: 10px 0px 0px 10px;
    padding: 5px 0px 5px 0px;
    object-fit: cover;
}

#hotel_soleil_du_matin, #coeur_de_leau, #hotel_tout_bleu{
    font-size: 0.8em;
    background-color: white;
    border-radius: 10px;
    width: 350px;
    height: 120px;
    margin-left: 20px;
    margin-top: 28px;
    box-shadow: 1px 1px 9px gray; 
}

#hotel_soleil_du_matin i, #coeur_de_leau i, #hotel_tout_bleu i{
    color: #0065FC;
}

.float{
    float: left;
}

#fleche{
    top: 25px;
    right: 20px;
    position: absolute;
    color: black;
}

#activites{
    display: flex;
    height: 540px;
    margin-top: 30px;
    margin-left: 30px;
    margin-right:60px;
}

#pomegues, #frioul, #notredame, #longchamp{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 3px 9px #F2F2F2; 
    width: 310px;
    height: 205px;
}

#frioul, #longchamp{
    margin-top: 30px;
}

#vieux_port, #calanques{
    width: 310px;
    height: 440px;
    border-radius: 10px 10px 10px 10px; 
    box-shadow: 4px 3px 9px #F2F2F2; 
    margin-right: 30px;
    margin-left: 30px;
}

#ancre_activites{
    margin-left: 63px;
}

#vieux_port img, #calanques img{
    height: 400px;
    width: 310px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -13px;
    object-fit: cover;
}

#pomegues img, #frioul img, #notredame img, #longchamp img{
    height: 155px;
    width: 310px;
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -8px;
    object-fit: cover;
}

footer
{
    background-color: #F2F2F2;
    display: flex;  
}

footer li{
    list-style-type: none;
}

#assistance{
    flex-grow: 1;
    
}

#nos_hebergements{
    flex-grow: 1;
}

#a_propos{
    flex-grow: 1;
    margin-left: 100px;
}

#inscrire{
    right: 33px;
    top: 44px;
    position:absolute;
    color: #0065FC;
    font-weight: bold;
}

@media screen and (max-width: 980px)
{
    #info{
        float: left;
    }

    p{
        color: red;
    }

    .champ{
        height: 8em;
        width: 59em;
        border: 3px solid #F2F2F2;
        margin-right: -2em;
    }

    i.fas.fa-search::before{
        font-size: 3.4em;
    }

    .information{
        margin-top: 6em;
        margin-left: -2em;
        font-size: 1.1em;
        text-align: left;
        margin-bottom: 0.1em;
    }

    header{
        margin-left: 3em;
        width: 100%;
    }

    header img{
        width: 31%;
        margin-top: 3%;
    }

    #filtres ul{
        flex-direction: column;
        margin-top: -1em;
    }

    #filtres li{
        font-size: 1.1em;
        display: flex;
        position: relative;
        top: 4em;
        left: -5em;
        margin-bottom: 0.5em;
    }

    nav{
        position:relative;
    }

    nav ul{
        margin: 0em 0em 3em 0em;
        font-size: 1.9em;
    }

    nav a{
        padding-right: 2em;
        padding-left: 2em;
        padding-bottom: 0.8em;
        font-size: 1.4em;
        border-bottom: 0.1em solid #F2F2F2;
    }

    nav li{
        margin-right: 0;
    }

    nav a:hover{
        color:#0065FC;
        border-bottom: 3px solid #0065FC ;
        border-top: none;
    }

    #inscrire{
        top: 2.4em;
        left: 16em;
        font-size: 2.7em;
    }

    h1{
        font-size: 3.9em;
    }

    h1+p{
        margin-top: 0.9em;
        margin-bottom: 0.9em;
        font-size: 1.2em;
    }

    .search_max600px{
        visibility: visible;
        margin-bottom: 4em;
        margin-top: -4em;
    }

    .search_desktop{
        visibility: hidden;
    }

    #hebergements{
        flex-direction: column-reverse;
    }

    #populaires{
        width: 600px;
        margin-left: -4.5em;
        padding-bottom: 10.3em;
    }

    #fleche{
        top: 0.9em;
        right: 5.2em;
        font-size: 1.4em;
    }

    #hotel_soleil_du_matin img, #coeur_de_leau img, #hotel_tout_bleu img{
    width: 14em;
    height: 13em;
    margin-right: 20px;
    margin-left: 5px;
    padding: 5px 0px 5px 0px;
    border-radius: 1.5em 0em 0em 1.5em;
    }

    #hotel_soleil_du_matin, #coeur_de_leau, #hotel_tout_bleu{
    font-size: 0.8em;
    min-width: 36em;
    height: 13.7em;
    margin-left: 1.9em;
    margin-top: 28px;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    }

    #populaires p{
    font-size: 1.1em;
    margin-bottom: 4.8em;
    margin-top: -1.1em;
    }

    #populaires h3{
    font-size: 1.85em;
    }

    #populaires h2{
        margin-left: 1.1em;
    }

    #hebergement_marseille{
        margin-top: 1em;
        background-color: white;
        margin-left: -2.8em;
    }

    #hebergement_marseille h3{
        font-size: 1.1em;
    }

    #hebergement_marseille p{
        margin-top: 1.1em;
        margin-bottom: 1.1em;
    }

    #ligne1_hebergement{
        flex-direction: column;
        
    }

    #ligne2_hebergement{
        flex-direction: column;   
    }

    #filtres p{
        margin-top: 1.1em;
    }

    #auberge_cannebiere img, #hotel_port img, #hotel_mouettes img, #hotel_mer img, #auberge_panier img, #hotel_amina img{
    width: 35em;
    height: 13em;
    margin: 3px 0px -12px 4px;
    border-radius: 1.5em 1.5em 0em 0em;
    }

    #auberge_cannebiere, #hotel_port, #hotel_mouettes, #hotel_mer, #auberge_panier, #hotel_amina{
    height: 20.4em;
    margin-left: -0.1em;
    width: 100%;
    border-radius: 1.5em 1.5em 1.5em 1.5em;
    margin-bottom: 2.1em;
    box-shadow: 4px 7px 6px #F2F2F2;
    }

    #hebergement_marseille p{
        font-size: 1.1em;
        margin-top: -0.9em;
        margin-bottom: 1.6em;
    }

    #hebergement_marseille h3{
        font-size: 1.4em;
    }

    #activites{
        flex-direction: column;
        margin-top: 2em;
    }

    #activites h3{
        font-size: 1.2em;
    }

    #ancre_activites{
        margin-top: 55.8em;
        margin-left: 0.8em;
    }

    #vieux_port img, #calanques img, #pomegues img, #frioul img, #notredame img, #longchamp img{
    width: 28em;
    height: 13em;
    margin: 3px 0px -12px 4px;
    border-radius: 1.5em 1.5em 0em 0em;
    }

    #vieux_port, #calanques, #pomegues, #frioul, #notredame, #longchamp{
    height: 16.4em;
    margin-left: -1.1em;
    width: 100%;
    border-radius: 2em 2em 2em 2em;
    margin-bottom: 2.1em;
    box-shadow: 8px 11px 6px #F2F2F2;
    }

    #vieux_port img, #calanques img, #pomegues img, #frioul img, #notredame img, #longchamp img{
        width: 100%;
        height: 14em;
        border-radius: 2em 2em 0em 0em;
    }

    footer{
        margin: 78.3em -3em -1em -1em;
        padding-left: 2.7em;
        flex-direction: column;
    }

    footer p{
        margin-bottom: 0.5em;
    }

    #a_propos{
        margin-left: 0.1em;
    }
}

@media screen and (min-width: 981px) and (max-width: 1024px)
{
    #filtres li{
        padding-right: 1em;
        margin-right: 1.2em;
    }

    #filtres ul{
        flex-wrap: wrap;
        margin-left: -1em;
    }

    #hebergements{
        flex-direction: column-reverse;
        margin: 0 0 0 0;
    }

    #hebergement_marseille{
        width: 100%;
        height: 38em;
    }

    #auberge_cannebiere img, #hotel_port img, #hotel_mouettes img, #hotel_mer img, #auberge_panier img, #hotel_amina img{
        width: 19.7em;
        height: 8.3em;
    }

    header img{
        width: 145px;
    }

    header{
        margin: 0;
    }

    #populaires{
        margin: 0em 0em 3em 0em;
        width: 100%;
        height: 39em;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #populaires p{
        margin-bottom: 6.1em;
    }

    #hotel_soleil_du_matin img, #coeur_de_leau img, #hotel_tout_bleu img{
        width: 23.1em;
        height: 12.7em;

    }

    #hotel_soleil_du_matin, #coeur_de_leau, #hotel_tout_bleu{
        width: 100%;
        height: 13.5em;
        margin: 0 0 0 0;
    }

    #auberge_cannebiere, #hotel_port, #hotel_mouettes, #hotel_mer, #auberge_panier, #hotel_amina{
        width: 16.8em;
        height: 18em;
    }

    #auberge_cannebiere img, #hotel_port img, #hotel_mouettes img, #hotel_mer img, #auberge_panier img, #hotel_amina img{
        width: 16.2em;
        height: 10.5em;
    }

    #activites{
        flex-direction: column; 
        margin-left: 0;
        margin-right: 0; 
    }

    #vieux_port img, #calanques img, #pomegues img, #frioul img, #notredame img, #longchamp img{
        width: 100%;
        height: 14em;
        border-radius: 2em 2em 0em 0em;
        
    }

    #vieux_port, #calanques, #pomegues, #frioul, #notredame, #longchamp{
        padding: 0;
        width: 100%;
        height: 17.2em;
        margin: 1% 0% 3% 0%;
        border-radius: 2em 2em 2em 2em;
        box-shadow: 8px 11px 6px #F2F2F2;
    }

    footer{
        margin-top: 95em;
        width: 100%;
    } 
}