@font-face{
    font-family: "Raleway";
    src: url("polices/Raleway-Regular.ttf") format("truetype");
}

body{
    font-family: "Raleway";
    width: 100%;
}

header{
    position: relative;
    display:flex;
    flex-direction: column;
    margin-left: 2em;
    margin-right: 4em;
}

header img{
    width:95px;
}

nav{
    display:flex;
    right: 30px;
    top: 30px;
    position:absolute;  
}

nav a{
    padding-top: 25px;
    font-weight: bold;
}

nav a:hover{
    color:#0065FC;
    border-top: 2px solid #0065FC ;
}

nav ul{
    display: flex;
    padding-right: 83px;
}

nav li{
    margin-right: 70px;
    list-style-type: none;
}

a{
    text-decoration: none;
    color: black;
}

h1{
    font-size:1.3em;
    font-weight: bold;
    margin-bottom: -0.3em;
}

#hebergement_marseille h3, #activites h3{
    margin-left: 0.5em;
    font-size: 1.2em;
    margin-bottom: 0;
}

#filtres, h1, h2, h3, em{
    font-weight: bold;
}

#filtres p{
    margin-bottom: 0px;
    margin-top: 25px;
}

#filtres ul{
    display: flex;
    flex-wrap: wrap;
}

#filtres li{
    margin-right: 2em;
    padding-right: 4em;
    list-style-type: none;
    border: 2px solid #F2F2F2;
    border-radius: 20px;
    font-size: 0.9em;
    display: flex;
    align-items: center;
    height: 2.5em;
}

#filtres a{
    margin-left: 5px;
    padding-top: 5px;
}

i.fas.fa-star.gris::before{
    color: #F2F2F2;
}


#filtres i{
    background-color: #DEEBFF;
    border: 7px solid #DEEBFF;
    border-radius: 25px;
    color: #0065FC;
    justify-content: center;
    position: relative;
    height: 1.7em;
    width: 1.7em;
    align-items: center;
    display: flex;
    margin-left: -0.5em;
}

#filtres a:hover{
    color: #0065FC;
    font-size: 1.2em;
}

#filtres{
    display:flex;
    vertical-align: middle;
    margin-bottom: -1em;
    margin-top: -8.1em;
}

#position{
    background-color: #F2F2F2;
    border: 11px solid #F2F2F2;
    border-radius: 7px 0px 0px 7px;
    height: 1.22em;
}

.rechercher{
    background-color: #0065FC;
    color: white;
    border-radius: 0px 11px 11px 0px;
    height: 3em;
    width: 7em;
}

.button{ 
    background-color: #0065FC;
    color: white;
    height: 8em;
    width: 8em;
    border-radius: 34px 34px 34px 34px;
}

.search_max480px{
    visibility: hidden;
}

.champ{
    height: 3em;
    width: 17em;
    font-weight: bold;
}

#info{
    color: #0065FC;
    border: 2px solid #F2F2F2;
    border-radius: 40px;
    padding: 10px 15px 10px 15px;
    margin-right: 0.6em;
}

#hebergements{
    display: flex;
    margin-top: -1.5em;
    
}

#hebergements p{
    margin-left: 0.5em;
    margin-top: 0.4em;
    margin-bottom: -0.2em;
}


#hebergement_marseille h2{
    width: 90%;
    margin-left: -0.6em;
    margin-bottom: 0;
    font-size: 1.3em;
}

#populaires h2{
    font-size: 1.3em;
    margin-left: -4em;
}

#hebergement_marseille{
    background-color: #F2F2F2;
    max-height: 86em;
    width: 85%;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 2;
    flex-shrink: 2;
    margin: 0 1em 0 2em;
    padding-bottom: 1em;

}

#auberge_cannebiere img, #hotel_port img, #hotel_mouettes img, #hotel_mer img, #auberge_panier img, #hotel_amina img{
    width: calc(100% - 6px);
    
    height: 105px;
    border-radius: 10px 10px 0px 0px;
    margin: 3px 0px -14px 4px;
    object-fit: cover;
}

#auberge_cannebiere, #hotel_port, #hotel_mouettes, #hotel_mer, #auberge_panier, #hotel_amina{
    width: 25%;
    min-width: 13em;
    height: 14.6em;
    background-color: white;
    margin: 1em 2em 1em 2em;
    font-size: 0.8em;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 1px 1px 9px gray;   
}

#hebergement_marseille i{
    color: #0065FC;
    padding-bottom: 10px;
}

.afficher{
    width: 93%;
    font-weight: bold;
}

#populaires{
    background-color: #F2F2F2;
    height: 540px;
    width: 28%;
    min-width: 22em;
    border-radius: 10px;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0 4em 0 1em;
    align-items: center;
    
}

#hotel_soleil_du_matin img, #coeur_de_leau img, #hotel_tout_bleu img{
    width: 120px;
    height: 114px;
    margin-right: 20px;
    border-radius: 10px 0px 0px 10px;
    padding: 3px 0px 0px 3px;
    object-fit: cover;
}

#hotel_soleil_du_matin, #coeur_de_leau, #hotel_tout_bleu{
    font-size: 0.8em;
    background-color: white;
    border-radius: 10px;
    width: 73%;
    min-width: 21em;
    height: 120px;
    margin-bottom: 2.5em;
    margin-top: 0.6em;
    box-shadow: 1px 1px 9px gray; 
}

#hotel_soleil_du_matin i, #coeur_de_leau i, #hotel_tout_bleu i{
    color: #0065FC;
}

.float{
    float: left;
}

#fleche{
    top: 25px;
    right: 20px;
    position: absolute;
    color: black;
}

#activites{
    display: flex;
    height: 30em;
    margin: 1em 4em 8em 2em;
}

#pomegues, #frioul, #notredame, #longchamp{
    border-radius: 10px 10px 10px 10px;
    box-shadow: 4px 6px 9px #f2f2f2; 
    width: 100%;
    height: 12.8em;
    padding-bottom: 0.6em;
}

#frioul, #longchamp{
    margin-top: 30px;
}

#vieux_port, #calanques{
    width: 50%;
    height: 27.5em;
    max-height: none;
    border-radius: 10px 10px 10px 10px; 
    box-shadow: 4px 6px 9px #f2f2f2; 
    margin-right: 30px;
    padding-bottom: 1.2em;
}

#calanques{
    margin-left: 30px;
}

#ancre_activites{
    margin-left: 2em;
    margin-top: 2em;
}

#vieux_port img, #calanques img{
    height: 25.1em;
    width: calc(100%);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -13px;
    object-fit: cover;
}

#pomegues img, #frioul img, #notredame img, #longchamp img{
    height: 10.4em;
    width: calc(100%);
    border-radius: 10px 10px 0px 0px;
    margin-bottom: -0.9em;
    object-fit: cover;
}

#pomegues_frioul{
    margin: 0 0 0 0;
}

#notredame_longchamp{
    margin: 0 0 0 0;
}
footer
{
    background-color: #F2F2F2;
    display: flex;
    margin: -2.8em 0em -1em -1em;
    padding-top: 1em;
}

footer li{
    list-style-type: none;
}

#assistance{
    flex-grow: 1;
    
}

#nos_hebergements{
    flex-grow: 1;
}

#a_propos{
    flex-grow: 1;
    margin-left: 100px;
}

#inscrire{
    right: 33px;
    top: 44px;
    position:absolute;
    color: #0065FC;
    font-weight: bold;
}

@media all and (max-device-width: 480px)
{
    #info{
        float: left;
    }

    .champ{
        height: 8em;
        width: 59em;
        border: 3px solid #F2F2F2;
        margin-right: -2em;
    }

    i.fas.fa-search::before{
        font-size: 3.4em;
    }

    .information{
        margin-top: 6em;
        margin-left: -2em;
        font-size: 1.1em;
        text-align: left;
        margin-bottom: 0.1em;
    }

    header{
        margin-left: 3em;
        width: 100%;
    }

    header img{
        width: 31%;
        margin-top: 3%;
    }

    i.fas.fa-map-marker-alt::before{
        font-size: 3em;
        text-align: center;
        background-color: #F2F2F2;
        border: 11px solid #F2F2F2;
        border-radius: 7px 0px 0px 7px;
    }

    #filtres ul{
        flex-direction: column;
        margin-top: -1em;
    }

    #filtres li{
        font-size: 1.1em;
        display: flex;
        position: relative;
        top: 4em;
        left: -5em;
        margin-bottom: 0.5em;
    }

    nav{
        position:relative;
        top: 3em;
        margin-bottom: 2em;
    }

    nav ul{
        margin: 0em 0em 3em 0em;
        font-size: 1.9em;
    }

    nav a{
        padding-right: 2em;
        padding-left: 2em;
        padding-bottom: 0.8em;
        font-size: 1.4em;
        border-bottom: 0.1em solid #F2F2F2;
    }

    nav li{
        margin-right: 0;
    }

    nav a:hover{
        color:#0065FC;
        border-bottom: 3px solid #0065FC ;
        border-top: none;
    }

    #inscrire{
        top: 2.4em;
        left: 16em;
        font-size: 2.7em;
    }

    h1{
        font-size: 3.9em;
        margin-bottom: 0em;
    }

    h1+p{
        margin-top: 0.9em;
        margin-bottom: 0.9em;
        font-size: 1.2em;
    }

    .search_max480px{
        visibility: visible;
        margin-bottom: 4em;
        margin-top: -6em;
        display: flex;
    
    }

    .search_desktop{
        visibility: hidden;
    }

    #hebergements{
        flex-direction: column-reverse;
    }

    #populaires{
        width: 100%;
        padding: 1em 4.1em 10.3em 0em;
        height: 78em;
        margin-left: -1em;
    }

    #fleche{
        top: 0.9em;
        right: 5.2em;
        font-size: 1.4em;
    }

    #hotel_soleil_du_matin img, #coeur_de_leau img, #hotel_tout_bleu img{
    width: 27em;
    height: 24.8em;
    margin-right: 20px;
    margin-left: 5px;
    padding: 11px 0px 11px 9px;
    border-radius: 4.5em 0em 0em 4.5em;
    }

    #hotel_soleil_du_matin, #coeur_de_leau, #hotel_tout_bleu{
    font-size: 0.8em;
    width: 71em;
    height: 26.7em;
    margin-left: 4.9em;
    margin-top: 28px;
    border-radius: 4.5em 4.5em 4.5em 4.5em;
    }

    #populaires p{
    font-size: 2.7em;
    margin: -1.1em 0em 3em 11.8em;
    }

    #populaires h3{
    font-size: 3.6em;
    margin-left: 8.9em;
    }

    .fa-chart-line:before{
        font-size: 2.6em;
        position: absolute;
        top: 0.5em;
    }

    #populaires h2{
        width: 75%;
        margin-left: -2em;
        font-size: 2.9em;
    }

    #hebergement_marseille{
        margin-top: 1em;
        background-color: white;
        width: 100%;
    }

    #hebergement_marseille h3{
        font-size: 3.6em;
        margin-top: 0.2em;
        margin-left: 0.2em;
    }

    #hebergement_marseille h2{
        font-size: 2.9em;
        width: 95%;
        margin: 2em 0em 1em 0em;
    }

    #hebergement_marseille p{
        font-size: 2.7em;
        margin: 0.4em 0em 0.6em 0.2em;
    }

    #filtres p{
        margin-top: 1.1em;
    }

    #auberge_cannebiere img, #hotel_port img, #hotel_mouettes img, #hotel_mer img, #auberge_panier img, #hotel_amina img{
    width: calc(100% - 2.1em);
    height: 23em;
    margin: 11px 0px 0px 13px;
    border-radius: 3.5em 3.5em 0em 0em;
    }

    #auberge_cannebiere, #hotel_port, #hotel_mouettes, #hotel_mer, #auberge_panier, #hotel_amina{
    height: 40.4em;
    margin-left: -0.1em;
    width: 100%;
    border-radius: 3.5em 3.5em 3.5em 3.5em;
    margin-bottom: 2.1em;
    box-shadow: 4px 7px 6px #F2F2F2;
    }

  

    #activites{
        flex-direction: column;
        margin-top: 2em;
    }

    #activites h3{
        font-size: 1.2em;
    }

    #ancre_activites{
        margin-top: 55.8em;
        margin-left: 0.8em;
    }

    #vieux_port img, #calanques img, #pomegues img, #frioul img, #notredame img, #longchamp img{
    width: 28em;
    height: 13em;
    margin: 3px 0px -12px 4px;
    border-radius: 1.5em 1.5em 0em 0em;
    }

    #vieux_port, #calanques, #pomegues, #frioul, #notredame, #longchamp{
    height: 16.4em;
    margin-left: -1.1em;
    width: 100%;
    border-radius: 2em 2em 2em 2em;
    margin-bottom: 2.1em;
    box-shadow: 8px 11px 6px #F2F2F2;
    }

    #vieux_port img, #calanques img, #pomegues img, #frioul img, #notredame img, #longchamp img{
        width: 100%;
        height: 14em;
        border-radius: 2em 2em 0em 0em;
    }

    footer{
        margin: 78.3em -3em -1em -1em;
        padding-left: 2.7em;
        flex-direction: column;
    }

    footer p{
        margin-bottom: 0.5em;
    }

    #a_propos{
        margin-left: 0.1em;
    }
}

